<h2 mat-dialog-title>Criar conta</h2>
@if (isLoadingFailure$ | async) {
    <app-shared-message-bar class="margin-bottom-small" [showIcon]="true" messageType="error">
        Ocorreu um erro, tente novamente mais tarde.
    </app-shared-message-bar>
}
<mat-dialog-content>
    <form [formGroup]="mainFormGroup" id="form" (ngSubmit)="onSubmit()" class="form-container">
        <h3 class="mat-title-medium">Dados básicos</h3>
        <div class="fields-group">
            <app-shared-form-field-name     [configuration]="{formGroup: mainFormGroup, name: 'name',       formSubmit$: formSubmit$}"></app-shared-form-field-name>
            <app-shared-form-field-email    [configuration]="{formGroup: mainFormGroup, name: 'email',      formSubmit$: formSubmit$}"></app-shared-form-field-email>
            <app-shared-form-field-password [configuration]="{formGroup: mainFormGroup, name: 'password',   formSubmit$: formSubmit$}"></app-shared-form-field-password>
        </div>
        <h3 class="mat-title-medium margin-top-big">Endereço de cobrança</h3>
        <div class="fields-group" formGroupName="billingAddress">
            <app-shared-form-field-postal-code          [configuration]="{formGroup: billingAddressFormGroup, name: 'postalCode',   formSubmit$: formSubmit$}"></app-shared-form-field-postal-code>
            <app-shared-form-field-street               [configuration]="{formGroup: billingAddressFormGroup, name: 'street',       formSubmit$: formSubmit$}"></app-shared-form-field-street>
            <app-shared-form-field-building-number      [configuration]="{formGroup: billingAddressFormGroup, name: 'number',       formSubmit$: formSubmit$}"></app-shared-form-field-building-number>
            <app-shared-form-field-district             [configuration]="{formGroup: billingAddressFormGroup, name: 'district',     formSubmit$: formSubmit$}"></app-shared-form-field-district>
            <app-shared-form-field-city                 [configuration]="{formGroup: billingAddressFormGroup, name: 'city',         formSubmit$: formSubmit$}"></app-shared-form-field-city>
            <app-shared-form-field-state                [configuration]="{formGroup: billingAddressFormGroup, name: 'state',        formSubmit$: formSubmit$}"></app-shared-form-field-state>
            <app-shared-form-field-building-complement  [configuration]="{formGroup: billingAddressFormGroup, name: 'complement',   formSubmit$: formSubmit$}"></app-shared-form-field-building-complement>
        </div>
        <h3 class="mat-title-medium margin-top-big">Endereço de entrega</h3>
        <mat-checkbox class="margin-bottom-small" [checked]="!isBillingShippingAddressSame" (change)="onCheckboxClick()">
            Endereço de entrega é diferente do endereço de cobrança.
        </mat-checkbox>
        <div [ngClass]="{'hide-element': isBillingShippingAddressSame}" class="fields-group" formGroupName="shippingAddress">
            <app-shared-form-field-postal-code          [configuration]="{formGroup: shippingAddressFormGroup, name: 'postalCode',  formSubmit$: formSubmit$}"></app-shared-form-field-postal-code>
            <app-shared-form-field-street               [configuration]="{formGroup: shippingAddressFormGroup, name: 'street',      formSubmit$: formSubmit$}"></app-shared-form-field-street>
            <app-shared-form-field-building-number      [configuration]="{formGroup: shippingAddressFormGroup, name: 'number',      formSubmit$: formSubmit$}"></app-shared-form-field-building-number>
            <app-shared-form-field-district             [configuration]="{formGroup: shippingAddressFormGroup, name: 'district',    formSubmit$: formSubmit$}"></app-shared-form-field-district>
            <app-shared-form-field-city                 [configuration]="{formGroup: shippingAddressFormGroup, name: 'city',        formSubmit$: formSubmit$}"></app-shared-form-field-city>
            <app-shared-form-field-state                [configuration]="{formGroup: shippingAddressFormGroup, name: 'state',       formSubmit$: formSubmit$}"></app-shared-form-field-state>
            <app-shared-form-field-building-complement  [configuration]="{formGroup: shippingAddressFormGroup, name: 'complement',  formSubmit$: formSubmit$}"></app-shared-form-field-building-complement>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button type="submit" form="form" mat-flat-button [disabled]="isLoading$ | async">
        @if (!(isLoading$ | async)) {
            <span>Confirmar cadastro</span>
        } @else {
            <span><mat-spinner [diameter]="24"></mat-spinner></span>
        }
    </button>
</mat-dialog-actions>
