<h2 mat-dialog-title>Criar conta</h2>
<mat-dialog-content>
    <form [formGroup]="myForm" id="form" (ngSubmit)="onSubmit()" class="form-container">

        @if (hasAuthFailed$ | async) {
        <app-shared-message-bar class="margin-bottom-small" [showIcon]="true" messageType="error">
            Login ou senha incorretos.
        </app-shared-message-bar>
        }

        <h3 class="mat-title-medium">Dados básicos</h3>
        <div class="fields-group">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Nome completo</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="name" matInput
                    placeholder="Digite aqui o seu nome.">
                <mat-error>{{nameErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>E-mail</mat-label>
                <input (blur)="updateEmailErrorMessage()" id="login" formControlName="login" matInput
                    placeholder="Digite aqui o seu e-mail.">
                <mat-error>{{emailErrorMessage}}</mat-error>
                <mat-hint>O e-mail informado será utilizado como seu login de acesso.</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Senha</mat-label>
                <input [type]="isPasswordVisible ? 'text' : 'password'" id="password"
                    (blur)="updatePasswordErrorMessage()" formControlName="password" matInput
                    placeholder="Digite aqui a sua senha.">
                <button type="button" mat-icon-button matSuffix (click)="isPasswordVisible = !isPasswordVisible">
                    <mat-icon>{{isPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
        </div>
        <h3 class="mat-title-medium margin-top-big">Endereço de cobrança</h3>
        <div class="fields-group" formGroupName="billingAddress">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>CEP</mat-label>
                <input type="number" (blur)="updatePasswordErrorMessage()" formControlName="postalCode" matInput
                    placeholder="Digite aqui o CEP.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Estado</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="state" matInput
                    placeholder="Digite aqui o estado.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Cidade</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="city" matInput
                    placeholder="Digite aqui a cidade.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Rua</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="street" matInput
                    placeholder="Digite aqui a rua.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Número</mat-label>
                <input type="text" id="password" (blur)="updatePasswordErrorMessage()" formControlName="number" matInput
                    placeholder="Digite aqui o número.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Bairro</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="district" matInput
                    placeholder="Digite aqui o bairro.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
        </div>

        <h3 class="mat-title-medium margin-top-big">Endereço de entrega</h3>
        <div class="fields-group" formGroupName="shippingAddress">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>CEP</mat-label>
                <input type="number" (blur)="updatePasswordErrorMessage()" formControlName="postalCode" matInput
                    placeholder="Digite aqui o CEP.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Estado</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="state" matInput
                    placeholder="Digite aqui o estado.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Cidade</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="city" matInput
                    placeholder="Digite aqui a cidade.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Rua</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="street" matInput
                    placeholder="Digite aqui a rua.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Número</mat-label>
                <input type="text" id="password" (blur)="updatePasswordErrorMessage()" formControlName="number" matInput
                    placeholder="Digite aqui o número.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Bairro</mat-label>
                <input type="text" (blur)="updatePasswordErrorMessage()" formControlName="district" matInput
                    placeholder="Digite aqui o bairro.">
                <mat-error>{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button type="submit" form="form" mat-flat-button [disabled]="isAuthenticationLoading$ | async">
        @if (!(isAuthenticationLoading$ | async)) {
        <span>Entrar</span>
        } @else {
        <span><mat-spinner [diameter]="24"></mat-spinner></span>
        }
    </button>
</mat-dialog-actions>
