.form-container {
    display: flex;
    flex-direction: column;
}

.all-fields-container {
    flex-grow: 1;
    overflow: scroll;
}

.fields-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.errorMessageBar {
    margin-bottom: 24px;
}

.login-button {
    margin-top: 48px;
}
