<button class="button" [matMenuTriggerFor]="menu" mat-icon-button
    [ngClass]="{'button-logged-in': (isLoggedIn$ | async), 'button-logged-out': !(isLoggedIn$ | async)}"
>
    @if (isLoggedIn$ | async) {
        <mat-icon class="icon icon-logged-in" [fontSet]="'material-icons-outlined'">
            face
        </mat-icon>
    } @else {
        <mat-icon class="icon icon-logged-out" [fontSet]="'material-icons-outlined'">
            person_add
        </mat-icon>
    }
</button>
<mat-menu #menu="matMenu" xPosition="before">
    @if (isLoggedIn$ | async) {
        <button mat-menu-item >
            <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
            Dados cadastrais
        </button>
        <button mat-menu-item >
            <mat-icon fontSet="material-icons-outlined">shopping_bag</mat-icon>
            Minhas compras
        </button>
        <button mat-menu-item class="warn-color" (click)="logOut()">
            <mat-icon class="warn-color">logout</mat-icon>
            Sair
        </button>
    } @else {
        <button mat-menu-item (click)="openLoginDialog()">
            <mat-icon>login</mat-icon>
            Entrar
        </button>
        <button mat-menu-item (click)="openCreateAccountDialog()">
            <mat-icon>add_circle_outline</mat-icon>
            Criar conta
        </button>
    }
</mat-menu>
