.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE1C00;
    width: 64px;
    height: 64px;
}

.icon {
    $size: 36px;
    font-size: $size;
    width: $size;
    height: $size;
    color: white;
}
