<mat-form-field class="container" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Senha</mat-label>
    <input type="password"  [type]="isPasswordVisible ? 'text' : 'password'"
        (blur)="updateErrorMessage()" [formControl]="this.formControl" matInput
        placeholder="Digite aqui a sua senha.">
    <button type="button" mat-icon-button matSuffix (click)="isPasswordVisible = !isPasswordVisible">
        <mat-icon>{{isPasswordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
    </button>
    <mat-error>{{errorMessage}}</mat-error>
</mat-form-field>
