.container {
    padding: 28px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    position: relative;
}

.close-button {
    position: absolute;
    right: 0px;
    top: -5px;
}

.container-buttons-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 48px;
}
