@use '@angular/material' as mat;

@include mat.core();

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

$my-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$red-palette,
            ),
        ));

html {
    @include mat.all-component-themes($my-theme);
}
