<h5>{{title}}</h5>

<div class="list">
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
    <app-shared-product-item></app-shared-product-item>
</div>
